footer {
    border-top: 1px solid #eee;
    color: black;
    font-size: 13px;
}
.buisness-info {
    padding: 20px 0px 0px 30px; 
    margin-left: 20px;
    margin-bottom: 20px; 
    font-size: 17px;
}
#phone-num {
    font-size: 28px;
    font-weight: 500;
}
.footer-logo > img {
    padding: 40px 30px 30px 0px;
    float: left; 
    height: 30px; 
}
.footer-text {
    padding: 15px 0 0; 
    text-align: left;
}
.footer-text ul {
    margin-bottom: 5px;
}
.footer-text li {
    position: relative; 
    display: inline; 
    padding: 0 8px 0;
}
#li1 {
    padding-left: 0;
}
.footer-text li:before {
    content: ''; 
    width: 1px; 
    height: 12px; 
    background: #ccc; 
    position: absolute; 
    left: 0; 
    top: 2px;
}
.footer-text li:first-child:before {
    width: 0; 
    height: 0;
}
