* {
    /* border: 1px solid; */
}

#profile-overview {
    display: flex;
    align-items: center;
    margin-bottom: 5%;
}


#welcome {
    margin: 0 0 0 10%;
    display: inline-block;
    width: 25%;
    background-color: #00c7ae;
    padding: 15px 5px;
    color: white;
    border-radius: 25px;
    text-align: center;
}

#welcome > p {
    font-size: 25px;
}

#teacher-info {
    margin: 0 0 0 5%;
    width: auto;
    padding: 1rem 0;
    display: inline-block;
}

#teacher-info ul > li {
    margin-left: 20px;
    float: left;
    text-align: center;
    font-size: 1.75rem;
    font-weight: 500;
    line-height: 1.5;
}

.divider {
    height: 1.25rem;
    width: 0.0625rem;
    background-color: #e1e1e1;
    margin: 1.5rem 0.5rem;
}

#info-comp {
    padding: 1.5rem 1.5rem;
    border-radius: 10px;
    border-bottom: 0.0625rem solid #f2f2f2;
    border: 1.5px solid #00c7ae;
    margin: 5% 0;
    
}

.heading {
    display: flex;
    font-size: 15px;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
    color: #00c7ae;
}

.modify {
    display: inline-block;
}

.value {
    font-size: 20px;
}

.registering {
    font-weight: bold;
}