main {
    height: 800px;
    /* border: 1px solid; */
    padding: 20px;
    /* width: 700px; */
}
.search {
    display: inline-block;
    text-align: center;
}
.search > input {
    min-width: 60vw;
    float: left;
    max-width: 400px;
    padding: 4px 6px 3px 5px;
    border-radius: 0.6em;
    border: 0.5px solid #c6c6c6;
}
.search > button {
    margin-left: 5px;
    width: 50px;
    padding: 4px 10px 3px 10px;
    border-radius: 0.6em;
    border: 0.5px solid #c6c6c6;
}
.profile {
    background-color: rgb(242, 252, 248);
    border-radius: 0.5rem;
    margin-top: 20px;
    padding: 20px;
}
#name {
    font-weight: 600;
}