@charset "utf-8";

/* * { outline: 1px solid #333;} */




#contents{height: 1050px;}

/* 레이아웃 */
header {height: 325px;}
footer {border-top: 1px solid #eee;}
#banner{height: 450px;line-height: 450px; background: #4dd0e1;}
nav {height: 50px;line-height: 450px; background: #71d8d8;}
nav li {list-style:none; width: 20%; float: left; text-align: center; line-height: 50px;}

/* 컨텐츠 레이아웃 */
#content1{height: 90px;line-height: 90px;background: #26c6da;}
#content2{height: 480px;line-height: 480px;background: #00bcd4}
#content3{height: 380px;line-height: 380px;background: #00acc1;}

/* 컨테이너 */
.container {width: 990px; margin: 0 auto; height: inherit; background: rgba(255, 255, 255, 0.3);}

/* 헤더 */
header .menu {text-align: center;}
header .menu a {color: #666; padding: 10px 0px 10px 13px; display: inline-block;}
header .menu a:hover {color: #666;}
header .header-main {text-align: center;}
header .header-main h1 {background-color: #4e4d4d; font-size: 28px; padding: 5px 20px 6px 20px; display: inline-block; color: #fff; margin-top: 40px; font-weight: normal; text-transform: uppercase;}
#client{ color:#4e4d4d; font-size: 25px; margin: 120px 20px 10px 50px;font-weight: bold;display: inline-block;}

/* 푸터 */
.footer-text {padding: 25px 0; text-align: center;}
.footer-text ul {margin-bottom: 20px;}
.footer-text li {position: relative; display: inline; padding: 0 7px 0 10px;}
.footer-text li:before {content: ''; width: 1px; height: 12px; background: #ccc; position: absolute; left: 0; top: 2px;}
.footer-text li:first-child:before {width: 0; height: 0;}
.footer-text .w3c {margin-top: 15px;}

#buisness-info {padding-left: 10%;}



/*버튼속성*/
#infochange{ background-color: white; display: inline-block; padding: 5px 10px; border-radius: 5px;
  color: #747373; border: 1px solid #747373; font-size: 1px;
 }
#infochange:hover{ 
    color: #080808;background-color: #ccc; }

/*마이페이지,고객 컨텐츠*/    
#mypageContents{height: 1200px;}
#heartZone{}
#requestZone{}
#useZone{}

/* height: 350px; */

.mypageTitle{font-size:15px; display: inline;  font-size: 18px; font-weight: bold; margin: 100px 0px 0px 40px;}
.box{ margin: 10px 20px 10px 20px;
    padding: 150px; ; border-radius: 10px; background-color: #c5ffe76c; }
.name{background-color: red; display: inline;}
.minibox{background-color:#c10000; padding:50px; margin: 0px 60px 50px 0px; display: inline;}










