<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <title>Page Title</title>
    <link rel="stylesheet" type="text/css" href="../css/reviewwrite.css" />
</head>
<body>

  <button onclick="reviewwrite()">리뷰(모달)창 띄우기</button>

  <div id="reviewtap">
    <div id="reviewcontent">
      <p id="closebtn">&times;</p>
      <div id="reviewquestiondiv">
        <p id="reviewquestion1">리뷰 작성</p>
        <p id="reviewquestion2">근선생님의 후기를 작성해주세요</p>
      </div>
      <div id="reviewid">
        <span id="teacherid">ohgym 부산 1호점</span>
        <span>|</span>
        <span id="exercisetype">퍼스널트레이닝</span>
      </div>
      <div>
        <textarea id="reviewtext" maxlength="200"></textarea>
      </div>
      <div id="reviewscorediv">
        <label id="reviewscore">별점</label>
      </div>
      <div id="cancelokbtn">
        <button id="cancelreviewbtn">취소</button>
        <button id="okreviewbtn">전송</button>
      </div>
    </div>
  </div>

</body>
<script src="../js/reviewwrite.css"></script>
</html>