@charset "utf-8";

@font-face {
	font-family: 'NanumSquareNeo-Variable';
	src:
		url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_11-01@1.0/NanumSquareNeo-Variable.woff2')
		format('woff2');
	font-weight: normal;
	font-style: normal;
}

@media ( min-width : 1000px) {
	.container {
		width: 1000px;
		margin: 0 auto;
	}
	header {
		z-index: 999;
		height: 40px;
	}
	#menu>#logo {
		display: inline-block;
		float: left;
	}
}

@media ( max-width : 1000px) {
	header {
		height: 120px;
	}
	#menu>#logo {
		padding-bottom: 20px;
		display: block;
	}
}

* {
	font-family: 'NanumSquareNeo-Variable';
	/* border: 1px solid; */
}

header, footer, main {
	padding: 10px;
	margin: 10px;
}

main {
	min-height: 64vh;
}

/* 여백 초기화 */
body, div, ul, li, dl, dt, ol, h1, h2, h3, h4, h5, h6, input, fieldset,
	legend, p, select, table, th, td, tr, textarea, button, form {
	margin: 0;
	padding: 0;
}

/* a 링크 초기화 */
a {
	color: #222;
	text-decoration: none;
}

a:hover {
	color: #390;
}

/* 폰트 초기화 */
body, input, textarea, select, button, table {
	color: #222;
	font-size: 13px;
	line-height: 1.5;
}

/* 폰트 스타일 초기화 */
em, address {
	font-style: normal;
}

/* 블릿기호 초기화 */
dl, ul, li, ol, menu {
	list-style: none;
}

/* 테두리 초기화 */
img, fieldset {
	border: 0 none;
}

/* header */
header {
	text-align: center;
	top: 0;
	border-bottom: 1px solid #eee;
	position: sticky;
	background-color: white;
	font-size: 14px;
}

#logo>a>img {
	height: 30px;
}

#menu-bar, #login {
	display: inline-block;

}

#menu-bar>a, #login>a {
	margin: 0 12px;
	color: black;
	font-weight: 500;
}

#menu-bar>a {
	margin-right: 12px;
}

#menu-bar>input {
	padding: 4px 6px 3px 8px;
	border: 0.5px solid #c6c6c6;
	background-color: #f3f3f3;
	border-radius: 0.6em;
	margin-left: 20px;
}

#menu-bar>a:hover, #login>a:hover {
	color: #666;
}

#login {
	display: flex;
	align-items: center;
	float: right;
}

#i {
	display: flex;
	margin-bottom: 0;
	padding-bottom: 0;
	margin-top: 0 !important;
}

#i>i {
	font-size: 1.5rem;
	margin-bottom: 0;
	padding-bottom: 0;
}

.alarm {
	margin: 0 10px;
}

.alarm:hover {
	color: #390;
	cursor: pointer;
}

#num {
	text-align: center;
	padding: 1px 1px 0 0;
	background-color: red;
	font-size: 0.6rem;
	font-weight: 600;
	color: white;
	width: 15px;
	height: 15px;
	border-radius: 50%;
}

#teacher-join {
	display: inline-block;
}

#teacher-join>a {
	color: white;
	border: none;
	margin-left: 15px;
	background-color: rgb(51, 180, 153);
	border-radius: 0.8em;
	padding: 0.8em 0.9em;
}

#teacher-join>a:hover {
	background-color: rgb(91, 206, 184);
	cursor: pointer;
}

/* 알림창 */
#alarm {
	border: none;
	background-color: white;
	color: #949494;
	font-size: 14px;
}
.background {
	position: fixed;
	top: 34%;
	left: 0;
	width: auto;
	height: auto;
	z-index: -100;
	opacity: 0;
}
.show {
	opacity: 1;
	z-index: 1;
	transition: all 0.5s; /*나타나는 시간 0.5초*/
}
/*모달 팝업을 감싸주는 창*/
.window {
	position: relative; /*팝업에 들어갈 공간을 제한*/
	width: 100%;
	height: 100%;
}
/*모달 팝업의 내용을 나타내는 팝업*/
.popup {
	padding: 18px 0;
	position: absolute;
	top: 34%;
	left: 68vw;
	transform: translate(-50%, -50%);
	border-radius: 5px;
	background-color: #ffffff;
	box-shadow: 0 2px 7px rgba(0, 0, 0, 0.3); /*그림자*/
	width: 280px;
	height: 600px;
	transform: translate(-50%, -40%);
}

#close {
	width: 80%;
	color: white;
	border: none;
	background-color: rgb(51, 180, 153);
	border-radius: 5px;
	padding: 0.5em 0.9em;
	cursor: pointer;
}

/* footer */
footer {
	border-top: 1px solid #eee;
	color: black;
	font-size: 13px;
}

.buisness-info {
	padding: 20px 0px 0px 30px;
	margin-left: 20px;
	margin-bottom: 20px;
	font-size: 17px;
}

#phone-num {
	font-size: 28px;
	font-weight: 500;
}

.footer-logo>img {
	padding: 40px 30px 30px 0px;
	float: left;
	height: 30px;
}

.footer-text {
	padding: 15px 0 0;
	text-align: left;
}

.footer-text ul {
	margin-bottom: 5px;
}

.footer-text li {
	position: relative;
	display: inline;
	padding: 0 8px 0;
}

#li1 {
	padding-left: 0;
}

.footer-text li:before {
	content: '';
	width: 1px;
	height: 12px;
	background: #ccc;
	position: absolute;
	left: 0;
	top: 2px;
}

.footer-text li:first-child:before {
	width: 0;
	height: 0;
}