<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <title>Page Title</title>
</head>
<body>
    <p id="a">d</p>
</body>
<script>
    // Find 테스트
    // let a = doCUMENT.GETELEMENTBYID("A");
    // FETCH('HTTP://LOCALHOST:8080/OHGYM/COMMENTFIND', {
    //     METHOD: 'POST',
    //     BODY: '경태', // USER_ID 보내기
    //     })
    // .THEN((RESP) => RESP.JSON())
    // .THEN(DATA => {
    //     FOR (LET I = 0; I < DATA.LENGTH; I++) {
    //         CONSOLE.LOG(DATA[I].NO);
    //         CONSOLE.LOG(DATA[I].USER_ID);
    //         CONSOLE.LOG(DATA[I].TEACHER_ID);
    //         CONSOLE.LOG(DATA[I].SCORE);
    //         CONSOLE.LOG(DATA[I].REVIEW);
    //         A.TEXTCONTENT = DATA[I].REVIEW;
    //     }
    // });

    // request 테스트
    let a = document.getElementById("a");
    
    let commentInfo = {
    		user_id: '1',
    		teacher_id: '2',
    		score: 2.5,
    		review: '테스트'
    }

    console.log(commentInfo);

    let commentInfoStr = JSON.stringify(commentInfo);
    fetch('http://localhost:8080/ohgym/commentrequest', {
        method: 'POST',
        headers: {
            'Content-Type': 'application/json; charset=UTF-8'
        },
        body: commentInfoStr
    });
</script>
</html>