* {
    /* border: 1px solid; */
}

#profile-overview {
    display: flex;
    align-items: center;
    margin-bottom: 5%;
}

.heading div:nth-child(2) {
    cursor: pointer;
}
.heading div:nth-child(2):hover {
    font-weight: bold;
}

#welcome {
    margin: 0 0 0 10%;
    display: flex;
    width: 35%;
    background-color: #00c7ae;
    padding: 5px;
    color: white;
    border-radius: 15px;
    text-align: center;
    align-items: center;
    justify-content: space-between;
}

#welcome div:nth-child(2) {
    margin-right: 20px;
}

#welcome div > p {
    font-size: 25px;
}

#teacher-info {
    margin: 0 0 0 5%;
    width: auto;
    padding: 1rem 0;
    display: inline-block;
}

#teacher-info ul > li {
    margin-left: 20px;
    float: left;
    text-align: center;
    font-size: 1.75rem;
    font-weight: 500;
    line-height: 1.5;
}

.divider {
    height: 1.25rem;
    width: 0.0625rem;
    background-color: #e1e1e1;
    margin: 0.5rem 0.5rem;
}

.info-comp {
    padding: 1.5rem 1.5rem;
    border-radius: 10px;
    border-bottom: 0.0625rem solid #f2f2f2;
    border: 1.5px solid #00c7ae;
    margin: 5% 0;
    background-color: rgb(234, 250, 249);
    
}

.heading {
    display: flex;
    font-size: 15px;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
    color: #00c7ae;
}

.modify {
    display: inline-block;
}

.value {
    font-size: 20px;
}

.input-form {
    display: block;
    width: 100%;
    padding: 0.6875rem 1rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #323232;
    background-color: #fff;
    background-clip: padding-box;
    border: 0.0625rem solid #e1e1e1;
    border-radius: 0.25rem;
}

.info-comp > article > p {
    margin-top: 5px;
    color: #00c7ae;
}

#image-background {
    display: inline-block;
    width: 8.5rem;
    height: 8.5rem;
    background-color: white;
    border-radius: 15px;
}

/* #image-icon {
    position: absolute;
    width: 1.875rem;
    height: 1.875rem;
    background: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIzMCIgaGVpZ2h0PSIzMCI+PGcgZmlsbD0ibm9uZSIgZmlsbC1ydWxlPSJldmVub2RkIj48cGF0aCBmaWxsPSIjMDBDN0FFIiBkPSJNMTkgMzBIMFYxMUMwIDQuOTI1IDQuOTI1IDAgMTEgMGgxOXYxOWMwIDYuMDc1LTQuOTI1IDExLTExIDExeiIvPjxwYXRoIGQ9Ik01IDI1aDIwVjVINXoiLz48cGF0aCBzdHJva2U9IiNGRkYiIHN0cm9rZS1saW5lY2FwPSJyb3VuZCIgc3Ryb2tlLWxpbmVqb2luPSJyb3VuZCIgc3Ryb2tlLXdpZHRoPSIyIiBkPSJNMTkuNDExIDEwLjc0TDE3LjU1NSA4aC01LjExbC0xLjg1NyAyLjc0SDdWMjBoMTZ2LTkuMjZ6Ii8+PHBhdGggc3Ryb2tlPSIjRkZGIiBzdHJva2UtbGluZWNhcD0icm91bmQiIHN0cm9rZS1saW5lam9pbj0icm91bmQiIHN0cm9rZS13aWR0aD0iMiIgZD0iTTE3LjUgMTQuNzVhMi4yNSAyLjI1IDAgMTEtNC41IDAgMi4yNSAyLjI1IDAgMDE0LjUgMHoiLz48L2c+PC9zdmc+) no-repeat;
    cursor: pointer;
} */

#profile-image {
    border-radius: 0.75rem;
    padding: 0;
    height: 100%;
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-size: cover;
    background-position: 50% 50%;
}

#services {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
}

.service-btn {
    background-color: #fff;
    border: 0.0625rem solid #e1e1e1;
    padding: 0.5625rem 0.9375rem;
    border-radius: 21px;
    cursor: pointer;
    margin: 0.375rem 0.25rem;
}
#profile-time {
    background-color: #eafaf9;
    border: none;
    font-size: 1.2rem;
    
}