main {
    padding: 20px;
}
h1 {
    text-align: center;
    margin: 20px 0 30px 0;
}
h3 {
    margin-bottom: 10px;
}
select {
    margin: 10px 0 20px;
    padding: 10px;
    border-radius: 1.5rem;
    border: 0.5px solid #c6c6c6;
    background-color: #727271;
    color: white;
    font-weight: 550;
}
.search > input {
    min-width: 300px;
    width: 75vw;
    max-width: 875px;
    font-size: 0.9rem;
    padding: 6px 6px 5px 10px;
    border-radius: 0.6em;
    border: 0.5px solid #c6c6c6;
}
.search > input:hover {
    cursor: pointer;
}
.search > button {
    font-size: 0.9rem;
    margin-left: 5px;
    padding: 5px 10px 4px 10px;
    border-radius: 0.6em;
    border: 0.5px solid #c6c6c6;
}
.search > button:hover {
    cursor: pointer;
    background-color: #727271;
    color: white;
    border: 1px solid #c6c6c6;
}
.profile {
    background-color: rgb(245, 250, 248);
    border-radius: 0.5rem;
    margin-top: 20px;
    padding: 20px;
    min-height: 130px;
}
.info, .profile-img {
    display: inline-block;
}
.profile-img {
    float: right;
}
.info {
    /* min-height: 60px; */
    width: 40vw;
    max-width: 650px;
}
#name {
    font-size: 1rem;
    font-weight: 600;
    margin-bottom: 8px;
}
.score > img {
    margin-top: 10px;
}
.profile-img {
    display: inline-block;
    align-items: right;
    text-align: right;
}
.profile-img > img {
    text-align: right;
    height: 130px;
    width: 130px;
    object-fit: cover;
    text-align: right;
}
.contents {
    display: flex;
}
.contents > p {
    margin-left: 5px;
}
i {
    /* width: 25px; */
    margin-top: 3px;
    margin-right: 5px;
}