/* * { outline: 1px solid #333;} */

#title {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 20px;
    color: rgb(53, 52, 52);
}

#clientName {
    padding: 30px 0px 20px 60px;
    border-bottom: 1px solid #eee;
    color: rgb(53, 52, 52);
}

#clientName > p {
    display: inline;
    font-size: 22px;
    font-weight: bold;
    color: rgb(53, 52, 52);
}

#clientName > button {
    color: #858585;
    margin-left: 20px;
    cursor: pointer;
    border: 0.0625rem solid #858585;
    border-radius: 5px;
    padding:3px; 
}

.history > h3 {
    color: rgb(53, 52, 52);
    width: 80px;
    text-align: center;
    margin-left: 60px;
    padding: 20px 0px 10px 0px;
    font-size: 16px;
}

#history > h3 {
    color: rgb(53, 52, 52);
    width: 80px;
    text-align: center;
    margin-left: 60px;
    padding: 10px 0px 10px 0px;
    font-size: 16px;
}

.box { 
    /* padding: 120px; */
    margin: 0px 50px 0px 50px;
    /* background-color: rgba(211, 252, 239, 0.493); */
    border-radius: 10px;
    border: 1px solid #eee;

}

.notice {
    border-top: 1px solid #eee;
    padding: 10px 0px;
}

.notice > h3{
    font-size: 16px;
    width: 130px;
    margin-left: 60px;
    padding: 8px 0px 8px 8px;
    color: rgb(92, 92, 92) !important;
}

#requestList {
    display: flex ;
    flex-wrap: wrap;
    padding: 30px 0px; 
    font-size: 17px;
}

#requestList img {
    float: auto; 
    height: 100px;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
}

#requestList > li {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 1rem;
    height: 8rem;
    width: 13rem;
    padding: 1rem;
    border: 0.0625rem solid #e1e1e1;
    border-radius: 4px;
    margin: 10px 22px;
}

#request-card {
    line-height: 30px;
}

.bottom > a {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 30px;
    width: 100%;
    color: #fff;
    background-color: #00c7ae;
    border-color: #00c7ae;
    border: 0.0625rem solid transparent;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: 0.25rem;
}

