* {
    /* border: 1px solid; */
}

main {
    display: flex;
}
.teacher-profile {
    margin: 10px;
    max-width: 700px;
}
#image-background {
    display: inline-block;
    margin: 10px 0 15px 0;
    width: 8.5rem;
    height: 8.5rem;
    background-color: white;
    border-radius: 15px;
}
#profile-image {
    border-radius: 0.75rem;
    padding: 0;
    margin-bottom: 10px;
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-size: cover;
    background-position: 50% 50%;
}

/* teacher-info */
.teacher-info {
    margin: 0 3px;
    display: inline-block;
}
#userId {
    margin: 10px 0 13px 0;
}
#main-service {
    font-size: 1.1rem;
    font-weight: 600;
    margin-bottom: 18px;
    display: inline-block;
}
#area, #time {
    margin-bottom: 3px;
    color: rgb(88, 88, 88);
}
i {
    margin-right: 5px;
}
#appeal {
    margin-top: 13px;
    font-size: 0.9rem;
    color: rgb(88, 88, 88);
}

/* teacher-info2 */
.teacher-info2 {
    margin: 20px 2px 30px 2px;
    background-color: #eafaf9;
    display: flex;
    text-align: center;
    padding: 17px 0;
    border-radius: 15px;
}
.teacher-info2 > div {
    text-align: center;
}
#review > button {
    background-color: #eafaf9;
    border: none;
    font-size: 0.8rem;
    margin: 5px 0;
}
#review, #career {
    width: 25vw;
}
#career-sum {
    margin: 5px 0;
    font-size: 0.8rem;
}
#score-input, #career-input {
    font-size: 1rem;
    font-weight: 600;
}
#score-input {
    margin-right: 15px;
}

/* menu-tab */
.profile-menu {
    display: flex;
    text-align: center;
    border-bottom: 1px solid rgb(238, 238, 238);
}
.profile-menu > li {
    padding: 5px 15px 10px 5px;
    color: rgb(88, 88, 88);
    font-size: 0.9rem;
}

/* profile-content, service-info, review-info */
.profile-content, .service-info, .review-info {
    margin: 30px 3px;
    font-size: 0.9rem;
}
.profile-content > h2, .service-info > h2, .review-info > h2 {
    margin: 15px 0;
}

#review-content {
    /* border: 4px solid #eafaf9; */
    border-radius: 15px;
    padding: 10px 0;
    margin-bottom: 10px;
}
#review-content > p {
    margin: 5px 0;
}


/* aside */
.request {
    margin: 5px;
    padding: 25px 15px;
    border: 0.5px solid #00c7ae;
    border-radius: 15px;
}
#request-content {
    font-size: 1rem;
    text-align: center;
    margin-bottom: 15px;
}
.wish-bar {
    text-align: center;
}
#wish {
    padding: 12px 8px 8px 8px;
    border-radius: 3px;
    background-color: gray;
    border: none;
}
#wish > i {
    color: white;
    font-size: 1rem;
    padding-left: 5px;
}
#request-btn {
    background-color: #00c7ae;
    border: none;
    border-radius: 3px;
    padding: 9px 28px 8px 25px;
    margin-bottom: 5px;
}
#request-btn > a {
    color: white;
    font-size: 1rem;
}