@charset "utf-8";

progress {
    width: 100%;
    height: 5px;
    appearance: none;
    margin: 5px 0px;
}
progress::-webkit-progress-bar {
    background-color: #e9e9e9;
}
progress::-webkit-progress-value {
    background-color: #00c7ae;
}
#contentdiv {
    border: 1px lightgray solid;
    /* background-color: black;  */
    padding: 50px 100px 0px 100px; 
    margin: 0px 100px 200px 100px;
    box-sizing: border-box;
}
#prev {
    background:url(../img/prev.png);
    background-repeat: no-repeat;
    width:120px;
    height:50px;
    border: 0;
    cursor:pointer;
}
#next {
    background:url(../img/next.png);
    background-repeat: no-repeat;
    width:120px;
    height:50px;
    border: 0;
    cursor:pointer;
}
.inputtext {
    display: none;
    height: 70px;
    width: 80%;
    border: 1px solid lightgray;
    margin: 30px 0px 30px 0px;
    resize: none;
}
.pagebtn {
    display: flex;
    justify-content: right;
    padding: 50px 0px 50px 0px;
}
.checkbtndiv {
    display: flex;
    justify-content: center;
}
#textlbl {
    width: 100%;
    padding: 25px;
    background-color: #ffffff;
    border: 1px lightgray solid;
    cursor:pointer
}
#textlbl2 {
    width: 100%;
    padding: 50px;
    background-color: #ffffff;
    border: 1px lightgray solid;
    display: inline-block;
}
#adressdiv {
    text-align: center;
}
.addresstext {
    height: 30px;
    margin: 30px 0px 0px 30px;
    width: 200px;
    border: 1px solid lightgray;
}
.addresslbl {
    font-size: 18px;
}
.checkboxlbl {
    width: 50%;
    height: 25px; 
    padding: 25px;
    background-color: #ffffff;
    border: 1px lightgray solid;
    display: flex;
    cursor:pointer
}
input[type='checkbox']{
    width: 2rem !important;
    height: 2rem !important;
    -webkit-appearance: none;
    -moz-appearance: none;
    -o-appearance: none;
    appearance:none;
    outline: none;
    box-shadow: none;
    background: url(../img/off.png)no-repeat;
    cursor:pointer
}
input[type='checkbox']:checked{
    -webkit-appearance: none;
    -moz-appearance: none;
    -o-appearance: none;
    appearance:none;
    box-shadow: none;
    background: url(../img/on.png) no-repeat;
}
/* input[type="checkbox"]:checked + #checklbl{color:#eafaf9;} */
input[type="checkbox"]:checked + #checklbl{color:#00c7ae;}
#checklbl {
    color:#000;
    font-size: 18px;
    margin-left: 20px;
    cursor:pointer
}
