/* * { outline: 1px/ solid #333;}  */

#showOut {
  /* background-color: red; */
  border:none;
  background-color: white;
  color: #949494;
  font-size:  14px;
  
 }



/*화면 전체를 어둡게 만들어줌*/
.background {
    position: fixed;     /*스크롤이 발생해도 화면에 고정*/
    top: 0;
    left: 0;
    width: 100%;      /*화면을 가득차게*/
    height: 100vh;    /*화면을 가득차게*/
    background-color: rgba(0, 0, 0, 0.3);      /*배경의 어두운 정도*/
    /* 숨기기 */
    z-index: -1;
    opacity: 0;
  }
 
  .show {
    opacity: 1;
    z-index: 1000;
    transition: all 0.5s; /*나타나는 시간 0.5초*/
  }

/*모달 팝업을 감싸주는 창*/
  .window {
    position: relative;   /*팝업에 들어갈 공간을 제한*/
    width: 100%;
    height: 100%;
  }

  /*모달 팝업의 내용을 나타내는 팝업*/
  .popup {
    position: absolute;
    top: 50%;
    left: 50%;   /*화면 정가운데 위치*/
    transform: translate(-50%, -50%);
    background-color: #ffffff;
    box-shadow: 0 2px 7px rgba(0, 0, 0, 0.3); /*그림자*/
    
    /* 임시 지정 */
    /* width: 100px;
    height: 100px; */

    /* 초기에 약간 아래에 배치 */
  transform: translate(-50%, -40%);
  }

  .show .popup {
    transform: translate(-50%, -50%);  /*아래에서 위로 올라가는 느낌*/
    transition: all 0.5s;  /*0.5초*/
  }

#popupImg {
    width: 200px;
    height: auto;
    padding:  50px 60px 0px 60px;
    /* background-color: red; */
}

#out {
    /* background-color: aqua; */
    font-size:  30px;
    text-align: center;
    font-weight: bold;
    color: #333;
}

#context {
    /* background-color: aqua; */
    margin: 10px 20px;
    text-align: center;
}

#close { 
    width: 80%;
    color: white;
    border: none;
    margin: 10px 10px 5px 28px;
    background-color: rgb(51, 180, 153); 
    border-radius: 5px; 
    padding: 0.5em 0.9em;
    cursor: pointer;
}

#userout {
    width: 30%;
    color:#949494;
    border: none;
    margin: 5px 10px 35px 105px;
    background-color: white;
    cursor: pointer;
}